<!DOCTYPE html>
<html>

<head>
    <title>Footer with social icons</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/footer.css">
</head>

<body>
<div class="content">
</div>
    <footer id="myFooter">
        <div class="container">
            <div class="row">

        </div>
        <div class="social-networks">
            <a href="http://www.twitter.com/mkodrats/" class="twitter"><i class="fa fa-twitter"></i></a>
            <a href="http://www.facebook.com/kodratmeden" class="facebook"><i class="fa fa-facebook-official"></i></a>
            <a href="#" class="google"><i class="fa fa-google-plus"></i></a>
        </div>
        <div class="footer-copyright">
            <p>Muhammad Kodrat S</p>
        </div>
    </footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>

</html>
