.circle{
  padding: inherit;
  background-color: #e74c3c;
  height: 350px;
  width: auto;
  padding: 30px;
  border-radius: 8px;
}

.red{

  background-color: red;

}

.blog{
  background-color: #ffffff;
  box-shadow: 10px 10px 5px #888888;
  padding: 25px;
  border-radius: 8px;
}

.backround{
  background-color: #efefef;
}
.gambar{
  align-content: center;
  display: block;
  max-width:230px;
  max-height:95px;
  width: auto;
  height: auto;
  margin-bottom: 30px;
}
.stylish-input-group .input-group-addon{
    background: white !important;
}
.stylish-input-group .form-control{
	border-right:0;
	box-shadow:0 0 0;
	border-color:#ccc;
}
.stylish-input-group button{
    border:0;
    background:transparent;
}
